html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    font-family: monospace;
    font-size: 4mm;
    line-height: 150%;
    color: #666;
    overflow: hidden;
}
.top {
    position: absolute;
    width: 50vw;
    height: 50vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.top p, h2, h3 {
    text-align: center;
}
/* form */
ul li {
    list-style: none;
}
ul {
    width: 500px;
    margin: 10px 0px 10px 25px;
}
label {
    margin-right: 10px;
    margin-right: 10px;
    width:100px;
    float: left;
}
.radio {
    width: 35px;
}